doc/presentacion/pres.aux
doc/presentacion/pres.bbl
doc/presentacion/pres.blg
doc/presentacion/pres.fdb_latexmk
doc/presentacion/pres.fls
doc/presentacion/pres.log
doc/presentacion/pres.nav
doc/presentacion/pres.out
doc/presentacion/pres.snm
doc/presentacion/pres.synctex.gz
doc/presentacion/pres.toc
